body {
	background:#fafafa;
}
div#content {
	margin-top:100px;
}
div#main {
	background:#fff;
	padding-bottom:50px;
}
div#footer {
	border-top:1px solid #1995dc;
	background-color:#fafafa;
	color:#333;
	font-size:80%;
	padding:20px;
	color:#1995dc;
}
div#flashMessage {
	border:1px solid green;
	color:green;
	background:#dfd;
	padding:10px;
	max-width:300px;
	border-radius:4px;
	float:right;
	margin-top:-10px;
}
div.forum {
	border:1px solid #eee;
	margin-bottom:10px;
	padding:10px;
	border-radius:4px;
	min-height:50px;
}
div.forum a h3 {
	padding:0;
	font-size:140%;
	margin:0;
	margin-left:-10px;
	margin-top:2px;
}
div.forum:hover {
	background:#d9edf7;
}
div.forum a {
	color:#333;
	display:block;
}
div.forumheader {
	font-weight:bold;
	margin-bottom:10px;
	text-align:center;
}
div.post {
	margin-bottom:10px;
	min-height:70px;
	padding:10px;
	border:1px solid #eee;
	border-bottom:1px solid #ccc;
}
div.meta {
	float:right;
	width:200px;
	border:1px solid #ddd;
	font-size:90%;
	padding:5px;
	border-radius:4px;
	background:#fafafa;
	text-align:right;
}
div.map {
	border:1px solid #ccc;
	padding:10px;
}

div.info-item {
	border:1px solid #eee;
	padding:10px;
	margin-bottom:10px;
	border-radius:4px;
}

div.event-item{
	border:1px solid #eee;
	padding:10px;
	margin-bottom:10px;
	border-radius:4px;
	min-height:360px;
}

h4.info-date {
	margin:10px 0;
	/*background:#FF0000;*/
}

div.info-item h3 {
	margin:10px 0;
}
div.info-item .info-date {
	float:right;
	margin:14px 0;
	font-weight:bold;
	background:#FF0000;
}


div.pic{
	height:200px;
	width:100%;
	text-align:center;
}

<!---stuff for events-->
 .event{
	height:1000px;
	background:#FF0000;
}
div.edit{
	width:455%;
	padding-left:50%;
	padding-bottom:25px;
	/*background:#FF0000;*/
}
div.event-title{
	height:80px;
	overflow:hidden;
	padding:0;
}
div.event-title h3{
	margin-top:0px;
}
.col-sm-3{
	position:relative;
}
div.rel{
	position: absolute; bottom: 0; left: 0;
}

div.social {
	font-size:120%;
	float:right;
	
}
div.social a:hover{
	text-decoration:none;
}
div.comments {
	border-radius:4px;
	height:30px;
}
div.comments p.count {
	font-size:80%;
	margin:10px;
	padding-top:8px;
}
div.comments button {
	float:right;
}
div.newcomment {
	margin-top:10px;
}
div.newcomment button {
	margin-top:10px;
}
div.commentarea {
	display:none;
}
div.showing div.commentarea {
	display:block;
}
div.com {
	border-bottom:1px solid #eee;
	margin-bottom:10px;
	margin-left:10px;
	font-size:90%;
}
div.com p.commeta {
	font-size:80%;
	color:#666;
	text-align:right;
}
