body {
	background:#fafafa;
}
div#content {
	margin-top:100px;
}
div#main {
	background:#fff;
	padding-bottom:50px;
}
div#footer {
	border-top:1px solid #1995dc;
	background-color:#fafafa;
	color:#333;
	font-size:80%;
	padding:20px;
	color:#1995dc;
}
div#flashMessage {
	border:1px solid green;
	color:green;
	background:#dfd;
	padding:10px;
	max-width:300px;
	border-radius:4px;
	float:right;
	margin-top:-10px;
}
div.forum {
	border:1px solid #eee;
	margin-bottom:10px;
	padding:10px;
	border-radius:4px;
	min-height:50px;
}
div.forum a h3 {
	padding:0;
	font-size:140%;
	margin:0;
	margin-left:-10px;
	margin-top:2px;
}
div.forum:hover {
	background:#d9edf7;
}
div.forum a {
	color:#333;
	display:block;
}
div.forumheader {
	font-weight:bold;
	margin-bottom:10px;
	text-align:center;
}
div.post {
	margin-bottom:10px;
	min-height:70px;
	padding:10px;
	border:1px solid #eee;
	border-bottom:1px solid #ccc;
}
div.meta {
	float:right;
	width:200px;
	border:1px solid #ddd;
	font-size:90%;
	padding:5px;
	border-radius:4px;
	background:#fafafa;
	text-align:right;
}
div.map {
	border:1px solid #ccc;
	padding:10px;
}

div.info-item {
	border:1px solid #eee;
	padding:10px;
	margin-bottom:10px;
	border-radius:4px;
}

div.event-item{
	border:1px solid #eee;
	padding:10px;
	margin-bottom:10px;
	border-radius:4px;
	height:350px;
}

div.event-item h3 {
	margin:10px 0;
}

div.info-item h3 {
	margin:10px 0;
}
div.info-item .info-date {
	float:right;
	margin:14px 0;
	font-weight:bold;
}

div.pic{
	height:200px;
	text-align:center;
}

<!---stuff for events-->
 .event{
	height:1000px;
	background:#FF0000;
}
div.edit{
	padding-left:60px;
	background:#FF0000;
}
